---
import Layout from "@/layouts/Layout.astro";

import { propertiesListStore } from "@/components/PropertiesList/store";
import PropertiesListToggle from "@/components/PropertiesList/PropertiesListToggle";
import PropertiesList from "@/components/PropertiesList/PropertiesList";
import { getListedProperties } from "@/services/properties";

const isGridView = !propertiesListStore.get();

const propertiesList = await getListedProperties();
---

<Layout>
  <div class="container mx-auto py-8">
    <div class="flex justify-between items-center mb-6">
      <h1 class="text-3xl font-bold">Real Estate Listings</h1>
      <PropertiesListToggle client:load />
    </div>

    <PropertiesList client:load properties={propertiesList} />
  </div>
</Layout>
