---
---

<footer class="flex flex-col gap-2 sm:flex-row py-6 w-full shrink-0 items-center px-4 md:px-6 border-t border-gray-800">
  <p class="text-xs text-gray-400">&copy; 2024 Cuspide Bienes Raices. Todos los derechos reservados.</p>
  <nav class="sm:ml-auto flex gap-4 sm:gap-6">
    <a class="text-xs hover:text-gray-300" href="#">
      Términos de Servicio
    </a>
    <a class="text-xs hover:text-gray-300" href="#">
      Privacidad
    </a>
  </nav>
</footer>

