---
import { Home } from "lucide-react";
---

<header
  class="px-4 lg:px-6 h-14 flex items-center border-b dark:border-gray-800"
>
  <a href="/" class="flex items-center justify-center" href="#">
    <Home className="h-6 w-6" />
    <span class="ml-2 font-semibold">Cuspide</span>
  </a>
  <nav class="ml-auto flex gap-4 sm:gap-6">
    <a class="text-sm font-medium hover:text-gray-300" href="/"> Inicio </a>
    <a class="text-sm font-medium hover:text-gray-300" href="/propiedades">
      Propiedades
    </a>
    <a class="text-sm font-medium hover:text-gray-300" href="/nosotros">
      Nosotros
    </a>
    <a class="text-sm font-medium hover:text-gray-300" href="/contacto">
      Contacto
    </a>
  </nav>
</header>
